img.zoom {
	margin: 50px 0px 0 100px;
	float:left;
	overflow: hidden;
	-ms-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

img.zoom:hover  {
	transform: scale(6.0) ;
	margin-left: -100%;
}

#p01 {
  color: blue;
}